# Default ignored files
/shelf/
/workspace.xml

# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# local env files
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!/.env.example
!/application.properties.example
secrets.yml

# typescript
*.tsbuildinfo

app-example

# macOS
.DS_Store
*.pem

# # Arquivos de Sistema Operacional e temporários
Thumbs.db
desktop.ini

# Arquivos temporários do Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Arquivos de log e debug
*.log
*.log.*.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
